<div class="main-banner">
    <div class="about_me about_img">
        <div class="shap_pattern1 d-none d-lg-block">
            <img src="../../../../../assets/images/main_banner/grid.png" alt="">
        </div>
        <div class="shap_pattern2 d-none d-lg-block">
            <img src="../../../../../assets/images/main_banner/grid.png" alt="">
        </div>
        <div class="social_links_wrapper">
            <app-social-links direction="vertical"></app-social-links>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12">
                    <div class="slider_text text-center">
                        <h3>
                            Hello This is Aleks
                        </h3>
                        <h4>Creative Developer & Designer</h4>
                        <div class="d-lg-none d-block mt-3">
                            <app-button-primary text="Contact Me" [clickFunction]="contactMe"></app-button-primary>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
