@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.portfolio_area{
    background-color: $darkblue2;
    padding-top: 75px;
    padding-bottom: 340px;

    .section_title{
        h3{
            color: #fff;
            font-size:18px;
        }
        h4{
            color: #fff;
            font-size:48px;
        }
    }
}

// portfolio_image_area 
.portfolio_image_area{
    padding-bottom: 75px;
    position: relative;
    margin-top: -295px;
    &.dec_margin{
        margin-top: 0;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .single_Portfolio{
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        .portfolio_thumb{
            height: 410px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .portfolio_hover{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background: #ddacf560;
            @include transform(translateX(-50%));
            @include transition(.5s);
            opacity: 0;
            overflow: hidden;
            .title{
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                @include transform(translateY(-50%));
            }
            h3{
                color: #fff;
                font-size:24px;
                font-weight: 700;
            }
            h4{
                color: #fff;
                font-size:18px;
                font-weight: 700;
            }
        }
        &:hover .portfolio_hover{
            @include transform(translateX(0%));
            opacity: 1;
        }
    }   
    .more_portfolio{
        margin-top: 60px;
    }
    .popup {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
}