@import '../../../../../styles/variables';

.discuss_projects{
    background-color: $dark1;

    .project_text {
        color: #fff;
        margin: 120px auto;

        h3{
            color: #fff;
            font-size: 50px;
            font-weight: 700;
        }

        p {
            color: #fff;
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 30px;
            margin-top: 12px;
        }
    }
}