@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap');

// Font
$font1:  'Muli', sans-serif;

// Colors
$dark1: #27104e;
$dark2: #64379f;
$darkblue1: #011d38;
$darkblue2: #001d38;
$medium1: #9854cb;
$medium2: #ddacf5;
$contrast: #75e8e7;

// Buttons
$btn-border-radius: 2px;
$btn-color: #fff;
$btn-padding-x: 2.75rem;
$btn-padding-y: 0.75rem;





