<div id="services" class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-65">
                    <h4>Service Provided</h4>
                    <h3>Build brands campaigns  <br>
                            & digital projects</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let service of services" class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="{{ service.img }}" alt="{{ service.title }}">
                    </div>
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>