

.testimonials {
    padding: 130px 0;
    // background-image: url(../img/testmonial/banner.png);
    background-color: teal;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center center;
}